@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light align-content-center pt-5">
    <h1 class="display-4">Welcome To Our Library</h1>
    <h5>login,  register,  or continue as an observer</h5>
</div>
