@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light align-content-center pt-5">
    <h1 class="display-4"> Library Management</h1>
    <h5>you can <b>register</b> as a user </h5>
</div>
