@model LibraryApp.Models.ViewModels.PasswordVM

<partial name="_Notification" />

<link rel="stylesheet" href="~/css/style.css" />
<div class="row  d-flex align-items-center p-3 justify-content-center" id="bg">
    <div class=" row d-flex  align-items-center justify-content-center">
        <div class=" col-lg-6">
            <div class="card card-primary card-outline card-outline-tabs">

                <div class="card-body">
                    <h3 class="login-box-msg"><b>Change Password</b></h3>

                    <form method="post" class="needs-validation" novalidate>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <input asp-for="OldPassword" type="password" class="form-control" placeholder="old password" id="input">
                                <div class="input-group-append">
                                    <div class="input-group-text rounded-right">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password" id="input">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert  alert-danger pr-2" style="font-size:smaller;" role="alert">
                               @ViewBag.Message
                            </div>
                        }


                        <div class="row">
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>