

<div class=" row bg-white mw-100 mh-100 mt-5 rounded justify-content-center">

        <!-- Content Header (Page header) -->
    <section class="content-header bg-white rounded">
    <div class="container-fluid bg-white">
        <div class="row mb-2 bg-white">
            <div class="col-sm-6 bg-white">
                    <h1> <i class="fas fa-exclamation-triangle text-warning"></i>403 Forbidden Page</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->

    <div class="row bg-white justify-content-center">
    <h1 class="headline text-warning bg-white">You are not an admin!</h1>
               
 
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->


</div>



