@model LibraryApp.Models.ViewModels.BooksVM
<form method="post">
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-bg-success">Create Book</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3 col-6">
            <label asp-for="book.Title">Title</label>
            <input asp-for="book.Title" class="form-control" />
            <span asp-validation-for="book.Title" class="text-danger"></span>
        </div>
        
         <div class="mb-3 col-3">
            <label asp-for="book.Copies">Copies</label>
            <input asp-for="book.Copies" class="form-control" required/>
            <span asp-validation-for="book.Copies" class="text-danger"></span>
        </div>
       
        <div class="mb-3 col-3">
            <label asp-for="book.AuthPrice">Author Price</label>
            <input id="authPrice" asp-for="book.AuthPrice" class="form-control" required />
            <span asp-validation-for="book.AuthPrice" class="text-danger"></span>
        </div>

        <div class="mb-3 col-6">
            <label asp-for="book.ListedPrice">Listed Price</label>
            <input id="Price" asp-for="book.ListedPrice" class="form-control" />
            <span asp-validation-for="book.ListedPrice" class="text-danger"></span>
        </div>

        <div class="mb-3 col-6">
            <label asp-for="book.GenreId">Genre</label>
            <select asp-for="book.GenreId" asp-items="@Model.GenresList" class="form-select">
                <option disabled selected>--Select Genre--</option>
            </select>

        </div>

        <div class="mb-3 col-6 form-group">
            <label>Authors: </label>
            <select id="multiple-checkboxes" class="js-example-basic-multiple form-control" multiple name="selectedOptions">
                @foreach(var author in Model.AuthorsList)
                {
                    <option value="@author.Id">@author.F_Name @author.L_Name</option>
                }
            </select>
        </div>
        <div class="mb-3 col-12">
            <label asp-for="book.Description">Description</label>
            <textarea asp-for="book.Description" class="form-control"></textarea>
            <span asp-validation-for="book.Description" class="text-danger"></span>
        </div>

       
        <div class="col-12">
        <button type="submit" onclick="return ValidateInput()" class="btn btn-outline-success" style="width:150px">Create</button>
        <a asp-controller="Books" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
            </a>
        </div>
    </div>
</form>
@section Scripts
{
  @{
    <partial name="_ValidationScriptsPartial" />  
   }
      <script>
       $(document).ready(function () {
       $('.js-example-basic-multiple').select2();
         });
       </script> 
       <script>
           function ValidateInput() {
               if (document.getElementById("authPrice").value < 1 || document.getElementById("Price").value< 1) {
                   Swal.fire({
                       icon: 'error',
                       title: 'Invalid...',
                       text: 'Author and listed price should be greater than 0',
                   });
                   return false;
               }
               return true;
           }
      
       </script>
}